<?xml version="1.0" encoding="UTF-8"?>
        <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMapper">

<resultMap id="BaseResultMap" type="com.example.bean.User">
    <result column="no" jdbcType="INTEGER" property="no" />
    <result column="Name" jdbcType="VARCHAR" property="Name" />
    <result column="passWord" jdbcType="VARCHAR" property="passWord" />
</resultMap>

<select id="Sel" resultType="com.example.bean.User">
        select * from user where no = #{no}
    </select>

</mapper>